#app-layout-content {
	display: flex;
	height: 100%;
	width: 100%;
}

#chart-select-nav {
	height: 100%;
	padding: 24px 8px;
	background: gray;
	display: flex;
	flex-direction: column;
	gap: 8px;

	a.button, button {
		width: 100%;
	}
}

#chart-super-container {
	position: relative;

	width: 100%;
	height: 100%;
	background: wheat;

	display: flex;
	flex-direction: column;
}
#selected-chart {
	height: 80%;
}
#selected-chart-blurb {
	position: absolute;
	left: 0;
	top: 80%;
	height: 20%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
	transition: all 500ms ease-in-out;
	padding: 8px 16px 16px 16px;

	#chart-blurb-content,
	h2 {
		color: black;
	}

	&.expand {
		top: 0;
		height: 100%;
	}

	#chart-blurb-actions {
		display: flex;
		justify-content: space-between;
		gap: 8px;
		align-items: center;
		margin-bottom: 8px;

		h2 {
			margin: 0;
		}
	}

	button#chart-blurb-more {
		height: 48px;
	}
}

#selected-chart-blurb #chart-blurb-content::after {
	content: '';
	background: linear-gradient(
		0deg,
		rgb(240, 248, 255) 0%,
		rgba(240, 248, 255, 0) 100%
	);
	height: 0;
	width: calc(100% - 32px);
	position: absolute;
	bottom: 16px;
	right: 16px;
}
#selected-chart-blurb:not(.expand) #chart-blurb-content {
	overflow: hidden;

	&::after {
		height: 20%;
	}
}

#mobile-portrait-warning {
	display: none;
}
body.mobile.portrait {
	#mobile-portrait-warning {
		display: block;
	}
	#app-layout-content {
		display: none;
	}
}
